//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/home/jolman/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/jolman/.local/share/rofi/themes/rounded-blue-dark.rasi"

//@theme "/home/jolman/.local/share/rofi/themes/Cyberpunk-theme.rasi"

//@theme "/home/jolman/.local/share/rofi/themes/rounded-blue-dark.rasi"

//@theme "/usr/share/rofi/themes/onedark.rasi"

//@theme "/home/jolman/.local/share/rofi/themes/onedark.rasi"

@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

configuration {
    disable-history: true;
    sorting-method: alphabetical;
}

